{% extends 'base.html' %}
{% load bootstrap %}

{% block menu %} 
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link " href="{% url 'core_home' %}">Home</a>
    </li>
    <li class="nav-item dropdown">
    <li class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" 
            role="button" aria-haspopup="true" aria-expanded="false">Servicos</a>
        <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'core_lista_pessoas' %}">Pessoas</a>
        <a class="dropdown-item" href="{% url 'core_lista_veiculos' %}">Veiculos</a>
        <a class="dropdown-item active" href="{% url 'core_lista_rotativo' %}">Rotativo</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{% url 'core_lista_mensalista' %}">Mensalistas</a>
        </div>
    </li>
    {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link disabled" href="">Ola, {{ user }}</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
    {% else %}
        <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
    {% endif %}     
    
</ul> 
{% endblock %}

{% block main %} 
    <div class="row">
        <div class="col-12">
            <h2>Cadastra Movimento Rotativo</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <form action="{% url 'core_cadastra_movRotativo' %}" method="POST">
                {% csrf_token %}
                {{ form|bootstrap }}
                <button type="submit">cadastrar</button>
            </form>
        </div>
        <div class="col-sm-6">
            <h2>Lista Movimemto Rotativo</h2>

            <table class="table">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Checkin</th>
                    <th scope="col">Checkout</th>
                    <th scope="col">Valor_hora</th>
                    <th scope="col">Veículo</th>
                    <th scope="col">Pago</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rotativo in rotativos%}
                    <tr>
                    <th scope="row">{{ rotativo.id }}</th>
                    <td>{{ rotativo.checkin }}</td>
                    <td>{{ rotativo.checkout }}</td>
                    <td>{{ rotativo.valor_hora }}</td>
                    <td>{{ rotativo.veiculo }}</td>
                    <td>{{ rotativo.pago }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}